.noticeBoard {
    height: 20rem;
    overflow: hidden;
    background: rgb(245, 245, 246);
    color: black;
    border: 1px solid rgba(223, 220, 220, 0.95);
}

.noticeBoard .fs-5 {
    font-size: 1.5rem;
}

.noticeBoard .text-center {
    opacity: 0.6;
    font-size: 13px;
}

.noticeBoard .d-flex {
    display: flex;
}

.noticeBoard .gap-2 {
    gap: 2rem;
}

.noticeBoard .mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.noticeBoard .w-75 {
    width: 75%;
}