.reset-bg {
    background-image: url('/src/assets/images/reset_back.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  /* Responsive Styles */
  @media (max-width: 767px) {
    .reset-bg {
      background-position: top center; /* Adjust background on smaller screens */
    }
  
    .card-body {
      padding: 1.5rem; /* Add padding for small screens */
    }
  }
  