@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}
.custom-sidebar {
  background-color: #ffffff !important;
  .nav-link {
    color: #000000 !important;
    &:hover,
    &.active {
      background-color: #e4e7ea !important;
      color: #4B49B6 !important;
    }
  }
  
  .sidebar-brand-full,
  .sidebar-header .nav-link {
    color: #000000 !important;
  }

  .nav-icon {
    color: #000000 !important;
  }
}




.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
// 🛠 Fix for black dot or unwanted marker on notification icon
.nav-item .nav-link .c-icon::after,
.nav-item .nav-link .c-icon::before,
.nav-item .c-badge::before,
.nav-item .c-badge::after {
  content: none !important;
  display: none !important;
  background: none !important;
  box-shadow: none !important;
}


